
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-size">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFirstName">Full Name</label>
          <input type="firstName" class="form-control" id="inputFirstName" placeholder="First Name Last Name">
        </div> 
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>  
        <div class="form-group col-md-6">
          <label for="inputPhoneNumber">Phone Number</label>
          <input type="number" class="form-control" id="inputPhoneNumber" placeholder="e.g: 720-899-88899">
        </div> 
      </div>

      <div class="form-group">
        <label for="inputAboutMeSmall">About Me: breif Introduction</label>
        <textarea type="text" class="form-control" id="inputAboutMeSmall" placeholder="Type a breif introduction to yourself here."></textarea>
      </div>

      <div class="form-group">
        <label for="inputAboutMe">About Me</label>
        <textarea type="text" class="form-control" id="inputAboutMe" placeholder="Type a more in depth introduction to yourself here."></textarea>
      </div>

      <div class="form-group">
        <label for="inputOtherPassions">Other Passions</label>
        <textarea type="text" class="form-control" id="inputOtherPassions" placeholder="Give a description of passions related/unrelated to your major or career."></textarea>
      </div>

      <div class="form-group">
        <label for="inputSkillSet">Skill Set</label>
        <textarea type="text" class="form-control" id="inputSkillSet" placeholder="Describe your overall skillset."></textarea>
      </div>

      <div class="form-group">
        <label for="inputSkill01">Skill 1</label>
        <textarea type="text" class="form-control" id="inputSkill01" placeholder="Choose a skill and describe it here."></textarea>
      </div>
      <div class="form-group">
        <label for="inputSkill02">Skill 2</label>
        <textarea type="text" class="form-control" id="inputSkill02" placeholder="Choose one more skill and describe it here."></textarea>
      </div>

      <div class="form-row">

        <div class="form-group col-md-4">
          <label for="inputState">Class Schedule-Day</label>
          <select id="inputState" class="form-control">
            <option selected>Select the days...</option>
            <option>Mon - Friday</option>
            <option>Mon - Thursday</option>
            <option>Monday and Tuesday</option>
            <option>Wedesday and Thursday</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Class Schedule-Time</label>
          <select id="inputState" class="form-control">
            <option selected>Select the times...</option>
            <option>6am to 12pm</option>
            <option>6am to 5pm</option>
            <option>10 am - 12pm</option>
            <option>12pm to 8pm</option>
            <option>10am to 8pm</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Do you authorize the use of  your information to create website?
          </label>
        </div>
      </div>
    </form>
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Create my Website</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo Form</button>

<hr>

<pre>{{ closeResult }}</pre>
