.slider {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1500px;
    position: auto;
    max-width: 1500px;
    min-width: 200px;
}

.img-fitter {
    height: 500px;
    width: 1500px;
    object-fit: auto;
    position: auto;
}
