.bg{
    height: 90vh;
    background-image: url("https://www.msudenver.edu/media/marketingandcommunications/homepage/2020images/zTestHomepageHero.jpg");
    background-size: cover;
    background-position: 75% 0%;
}
