
<div class = bg>
  <!-- 21:9 aspect ratio -->
<div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="https://vid-cdn.multiscreensite.com/e4672999/videos/GLJOkCoRr6LyeQfTUxLW_About_us_montage_2-v.mp4"></iframe>
</div>
  </div>




<div class = back>
  <h1>The Team</h1>
</div>




  <div class="team3">
    <img class="img3"/>
    <div>
      <img src="assets/img/trump.jpg" width="150" height="120"/>
      <button ng-click="sendMail()"></button>
    </div>
    <div class="team33">
      <h1> Prashant Panth </h1>
      <p> Product Owner </p>
    </div>
  </div>

  <div class="team7">
    <img class="img7"/>
    <div>
      <img src="assets/img/calvin.jpg" width="150" height="120"/>
    </div>
    <div class="team77">
      <h1> Calvin Nguyen </h1>
      <p> Scrum Master </p>
    </div>
  </div>



  <div class="team5">
    <img class="img5"/>
    <div>
      <img src="assets/img/alanis.jpg" width="150" height="120"/>
    </div>
    <div class="team55">
      <h1> Alanis Kitchen </h1>
      <p> Developer </p>
    </div>
  </div>


  <div class="team6">
    <img class="img6"/>
    <div>
      <img src="assets/img/egg.jpg" width="150" height="120"/>
    </div>
    <div class="team66">
      <h1> Echglene Woy </h1>
      <p> Developer </p>
    </div>
  </div>


  <div class="team4">
    <img class="img4"/>
    <div>
      <img src="assets/img/mehran.jpg" width="150" height="120"/>
    </div>
    <div class="team44">
      <h1> Mehran Rahmani </h1>
      <p> Developer </p>
    </div>
  </div>


  <div class="team2">
    <img class="img2"/>
    <div>
      <img src="assets/img/hari.jpg" width="150" height="120"/>
    </div>
    <div class="team22">
      <h1> Hari Shrestha </h1>
      <p> Developer </p>
    </div>
  </div>


  <div class="team1">
    <img class="img1"/>
    <div>
      <img src="assets/img/osman.jpg" width="150" height="120"/>
    </div>
    <div class="team11">
      <h1> Osman Rakhimov</h1>
      <p> Developer </p>
    </div>
  </div>







<div>
  <app-footer></app-footer>
</div>

<div class="container1">
  <div class="text-block">
    <h1>A SUCESSFULL CAREER STARTS WITH A GREAT WEBSITE</h1>
  </div>
</div>

<div class="container2">
  <div class="text-blocks">
    <p>By getting the website you need in the subjects you are about, you'll be ready to fill your dreams and reach your potential</p>
</div>


