<iframe src="https://msukonnect.multiscreensite.com/" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameboarder="1" marginheight="0px" marginwidth="0px" height="3860px" width="2114px" allowfullscreen></iframe>

<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularFirstSiteTest</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="https://vid-cdn.multiscreensite.com/e4672999/videos/GLJOkCoRr6LyeQfTUxLW_About_us_montage_2-v.mp4" type="video/mp4">
    </video>
    <div class="u_1243667655 dmRespRow fullBleedChanged fullBleedMode mobile-columns-reversed" style="text-align: center;" id="1243667655"> <div class="dmRespColsWrapper" id="1173148036"> <div class="u_1620106714 dmRespCol small-12 large-6 medium-6" id="1620106714"> <span id="1479169930"></span>
        <div class="u_1168847645 dmNewParagraph" data-element-type="paragraph" id="1168847645" style="transition: none 0s ease 0s; display: block; text-align: left;" data-uialign="center" data-version="5"> <h1 class="text-align-left"><span style="display: initial;">A SUCCESSFUL CAREER STARTS WITH A GREAT WEBSITE</span></h1>
       </div> <div class="u_1770759162 dmNewParagraph" data-dmtmpl="true" data-element-type="paragraph" id="1770759162" style="transition: opacity 1s ease-in-out 0s;" data-uialign="left" data-version="5"><p class="text-align-left"><span style="display: initial;">By getting the website you need in the subjects you care about, you'll be ready to fill your dreams and reach your potential.&nbsp;</span></p></div></div>
        <div class="u_1778225174 dmRespCol small-12 dmSectionNoParallax hasBackgroundOverlay large-6 medium-6" id="1778225174" data-gallery-bg="eyJzbGlkZXMiOlsiaHR0cHM6Ly9pcnQtY2RuLm11bHRpc2NyZWVuc2l0ZS5jb20vbWQvdW5zcGxhc2gvZG1zM3JlcC9tdWx0aS9waG90by0xNTIzMDUwODU0MDU4LThkZjkwMTEwYzlmMS5qcGciXX0="> <div data-element-type="spacer" class="u_1393983853 dmSpacer" id="1393983853"></div>
        <div class="u_1956628205 imageWidget align-center" editablewidget="true" data-element-type="image" data-widget-type="image" id="1956628205" data-anim-desktop="fadeInRight" style="visibility: visible; opacity: 1; transform: translate3d(0%, 0%, 0px); transition-delay: unset !important; transition-duration: unset !important; animation-delay: unset !important; animation-duration: unset !important; transition-property: none !important;"> <a id="1503868894"><img src="https://lirp.cdn-website.com/e4672999/dms3rep/multi/opt/MSU-1920w.jpg" id="1851243591" class="" data-dm-image-path="https://irp-cdn.multiscreensite.com/e4672999/dms3rep/multi/MSU.jpg" onerror="handleImageLoadError(this)"></a>
       </div>
       </div>
       </div>
       </div>

</body>
</html> -->
