<p>templates works!</p>
<div *ngFor="let template of templates">
  <div class="col s12 m6 l4">
      <div class="card">
      <div class="card-image">
          <img class="materialboxed" src="{{template.thumbnail_url}}">
          <a class="btn-floating tooltipped halfway-fab waves-effect waves-light red start-building" data-tooltip="Start editing this template" data-template-id="{{template.template_id}}"><i class="material-icons">mode_edit</i></a>
      </div>
      <div class="card-content">
          <span class="card-title grey-text text-darken-4 truncate">{{template.template_name}}</span>
          <a href="{{template.preview_url}}" data-template-id="{{template.template_id}}">Preview Template</a>
      </div>
      <div class="card-action">
          <a data-template-id="{{template.template_id}}" href="#" class="start-building">Start with this template</a>
      </div>
      </div>
  </div>
</div>
