.bg{
   background-image: url(src/assets/img/loginbg.jpg);
   background-size: cover;
    height: 90vh;
}
.form{
    padding-top: 50px;
    padding-left: 850px;
}
.header{
    font-size:x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    padding-top: 75px;
    padding-left: 800px;
}
