<div class = "bg">

  <div class='header'>
  <h1>Please Sign Up!</h1>
    <p style='font-size: small'>Already have a webpage? <a href= '/login'>Log In!</a></p>
  </div>

<div class= "form">
<form  [formGroup]= "signupForm" (ngSubmit)= "signup()" noValidate >
  
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Ex. Sammy" formControlName="name">
  </mat-form-field>

  <br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. Sammy" formControlName="email">
  </mat-form-field>

  <br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type = "password" placeholder="Ex. Sammy" formControlName="password">
  </mat-form-field>
  <br>
  <button color="accent" [disabled]="!signupForm.valid" mat-raised-button type="submit">
    <span>Sign Up</span></button>

</form>
</div>
</div>
